/* Set the background color of the entire website */
body {
  background: linear-gradient(to right, #d0eaff, #b0d9ff); /* Light sky blue to light blue gradient */
  font-family: Arial, sans-serif;
  text-align: center; /* Center align the content */
  margin: 0;
  padding: 0;
}

/* Style the header */
h1 {
  color: #333;
  font-size: 3rem;
  margin-top: 20px;
}

/* Style the paragraph */
p {
  font-size: 1.2rem;
  color: #666;
}

/* Profile description */
.profile{
  text-align: justify;
  padding: 20px;
}

/* Center the image on the page */
.center-image {
  display: block;
  margin: 20px auto;
  width: 350px;
  border-radius: 50%;
}

/* Style the navigation bar */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #007BFF;
}

nav ul li a:hover {
  color: #b30077;
}

/* Footer styling */
footer {
  margin-top: 30px;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.projects{

}
.projects ol li{
  font-size: 16px;
  list-style: none;
}

img:hover{
  border: 10px outset #FF0000;
}